@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@theme {
  --color-beige-100: oklch(96.91% 0.0068 67.74);
  --color-beige-500: oklch(65.88% 0.012 54.4);
  --color-gray-100: oklch(96.12% 0 0);
  --color-gray-300: oklch(76.68% 0 0);
  --color-gray-500: oklch(51.82% 0.0013 17.2);
  --color-gray-900: oklch(24.25% 0.0095 294.85);
  --color-green: oklch(53.56% 0.0794 190.54);
  --color-yellow: oklch(87.17% 0.0606 63.63);
  --color-cyan: oklch(79.4% 0.0737 211.41);
  --color-navy: oklch(49.66% 0.0253 291.18);
  --color-red: oklch(57.54% 0.1685 30.38);
  --color-purple: oklch(58.02% 0.1044 297.97);
  --color-light-purple: oklch(66.8% 0.0969 319.73);
  --color-turquoise: oklch(55.99% 0.0396 196.08);
  --color-brown: oklch(55.36% 0.0671 49.5);
  --color-magenta: oklch(51.87% 0.099 351.49);
  --color-blue: oklch(58.41% 0.1005 242.37);
  --color-navy-gray: oklch(70.24% 0.0203 255.57);
  --color-army-green: oklch(62.98% 0.0714 125.1);
  --color-gold: oklch(76.93% 0.1058 94.07);
  --color-orange: oklch(61.61% 0.1156 43.33);

  --breakpoint-3xl: 110rem;
}

@layer utilities {
  .text-preset-1 {
    @apply text-[32px] leading-[1.2] tracking-normal font-bold;
  }

  .text-preset-2 {
    @apply text-[20px] leading-[1.2] tracking-normal font-bold;
  }

  .text-preset-3 {
    @apply text-[16px] leading-[1.5] tracking-normal font-bold;
  }

  .text-preset-4 {
    @apply text-[14px] leading-[1.5] tracking-normal;
  }

  .text-preset-4-bold {
    @apply text-[14px] leading-[1.5] tracking-normal font-bold;
  }

  .text-preset-5 {
    @apply text-[12px] leading-[1.5] tracking-normal;
  }

  .text-preset-5-bold {
    @apply text-[12px] leading-[1.5] tracking-normal font-bold;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
